.in-a-rush-focused {
    border: solid #ccc 3px;
}

.shortcut-row .description {
    vertical-align: middle;
}

.shortcut-row .shortcut-category {
    font-weight: bold;
}

.shortcut-row .shortcut-key {
    font-family: monospace;
    color: black;
    display: inline-block;
    background-color: #eee;
    border: solid #aaa 1px;
    padding: 3px 9px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;

    transition: all 0.1s ease;
}

.shortcut-row .shortcut-key.shortcut-entered {
    border: solid red 1px;
    background-color: #fbdcdc;
    transform: scale(1.15);
}

.inactive-shortcut-row {
    color: #888;
    font-style: italic;
}

.inactive-shortcut-row .shortcut-key {
    color: #aaa;
    background-color: #efefef;
    border: solid #bbb 1px;
}
